@model IEnumerable<EducationalStage>

@{
    ViewData["Title"] = "List of educational stages";
}


<div class="container">
    <div class="row">
        <table class="table">
            <thead>
                <tr>
                    <th>Grade</th>
                    <th>StageName</th>
                    <th>Description</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Grade</td>
                        <td>@item.StageName</td>
                        <td>@item.Description</td>
                        <td class="d-flex">
                            <a class="btn btn-outline-primary mr-2" asp-action="Edit" asp-route-id="@item.Id">
                                <i class="fas fa-edit"></i>Edit
                            </a>
                            <a class="btn btn-outline-info mr-2" asp-action="Details" asp-route-id="@item.Id">
                                <i class="fas fa-info-circle"></i>Details
                            </a>
                            <a class="btn btn-danger text-white" asp-action="Delete" asp-route-id="@item.Id">
                                <i class="fas fa-trash-alt"></i>Delete
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="row">
        <a asp-controller="EducationalStages" asp-action="Create" class="btn btn-success">
            <i class="bi bi-plus-circle"></i> Add New
        </a>
    </div>
