@model IEnumerable<InstructorInformation>

@{
    ViewData["Title"] = "List of instructors";
}


<div class="container">
    <div class="row">
        <table class="table">
            <thead>
                <tr>
                    <th>Profile Picture</th>
                    <th>Full Name</th>
                    <th>Profession</th>
                    <th>Bio</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                         <td class="align-middle"> <img class="rounded-circle" src="@item.ProfilePictureURL" alt="@item.FullName" style="max-width: 150px" /> </td>
                        <td>@item.FullName</td>
                        <td>@item.Profession</td>
                        <td>@item.Bio</td>
                        <td class="d-flex">
                            <a class="btn btn-outline-primary mr-2" asp-action="Edit" asp-route-id="@item.Id">
                                <i class="fas fa-edit"></i>Edit
                            </a>
                            <a class="btn btn-outline-info mr-2" asp-action="Details" asp-route-id="@item.Id">
                                <i class="fas fa-info-circle"></i>Details
                            </a>
                            <a class="btn btn-danger text-white" asp-action="Delete" asp-route-id="@item.Id">
                                <i class="fas fa-trash-alt"></i>Delete
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="row">
        <a asp-controller="InstructorsInfo" asp-action="Create" class="btn btn-success">
            <i class="bi bi-plus-circle"></i> Add New
        </a>
    </div>
